<div class="row-list">
<h1>Add purchase</h1>



<form action="/purchases/addPurchases" method="POST">


	<div id="DateDiv">
			<label for="date">Date</label>
			<input  class="datepicker" type="date"  name="date" >
		</div>





  <div>
		<label for="quantity">quantity</label>
		<input type="number" name="quantity" value="{{quantity}}">
	</div>
  <div>
		<label for="cost">cost</label>
		<input type="text" name="cost" value="{{cost}}">
	</div>

  <label>Product</label>
  <select class="browser-default" name="product_id">
    {{#purchases}}
    <option value="{{id}}"> {{product}}</option>


    {{/purchases}}
  </select>

		<div class="">
			<label>Shop</label>

				<input type="text" name="shop" value="{{shop}}">

		</div>

<button onclick="dateConvertion()">Submit Purchase</button>
	<!-- <input type="submit" value="Submit Purchase" onclick="dateConvertion()" > -->
</form>
</div>
