<ul class="row-list">

  <li class="col-md-3 head">Date</li>
  <li class="col-md-4 head">Product</li>
  <li class="col-md-1 head">Quantity</li>
  <li class="col-md-1 head">Unit Price</li>
  <li class="col-md-3 head">Shop</li>
        {{#search}}
        <li class="col-md-3 db-List"> {{Date}}</li>
        <li class="col-md-4 db-List"> {{product}}</li>
        <li class="col-md-1 db-List"> {{Quantity}}</li>
        <li class="col-md-1 db-List"> {{Cost}}</li>
        <li class="col-md-3 db-List"> {{Shop}}</li>

        {{/search}}
    </ul>
